.DataSpec {
    width: 33em;
    margin: 0 auto 0 auto;
    display: flex;
    display: -webkit-flex;
}

.DataSpec-blog, .DataSpec-repo, .DataSpec-jobs {
    padding: 0.25em;
    flex: 1;
    -webkit-flex: 1;
}
