.DataSpec {
    width: 33em;
    margin: 0 auto 0 auto;
    display: flex;
    display: -webkit-flex;
}

.DataSpec-blog, .DataSpec-repo, .DataSpec-jobs, .DataSpec-languages {
    padding-top: 0.25em;
		padding-bottom: 0;
    flex: 1;
    -webkit-flex: 1;
}

.DataSpec-languages {
padding-top: 0;
color: grey;
font-size: 80%;

}
