.DataSpec {
    width: 25em;
    margin: 0 auto 0 auto;
    display: flex;
    display: -webkit-flex;
}

.DataSpec-blog, .DataSpec-repo, .DataSpec-work {
    padding: 0.75em;
    flex: 1;
    -webkit-flex: 1;
}
