<head>
    <link href="http://gmpg.org/xfn/11" rel="profile">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <!-- Enable responsiveness on mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <title>
        {% if page.title == "Home" %}
        {{ site.title }} &middot; {{ site.tagline }}
        {% else %}
        {{ page.title }} &middot; {{ site.title }}
        {% endif %}
    </title>

    <!-- CSS -->
    <link rel="stylesheet" href="/public/css/octicon.css">
    <link rel="stylesheet" href="/public/css/poole.css">
    <link rel="stylesheet" href="/public/css/hyde.css">
    <link rel="stylesheet" href="/public/css/dataspec-flex.css">
    <link rel="stylesheet" href="/public/css/podcasts-flex.css">
    <link rel="stylesheet" href="/public/css/syntax.css">
	
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link rel="preload"
      as="style"
      href="https://fonts.googleapis.com/css?family=Noto+Sans|Tauri" />
  
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Noto+Sans|Tauri""
      media="print" onload="this.media='all'" />	
	
    <link rel="stylesheet" href="">
    <!-- Icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/public/apple-touch-icon-144-precomposed.png">
    <link rel="shortcut icon" href="/public/favicon.ico">
    {% include ga.html %}
	{% seo %}
</head>
