<!doctype html>
<html lang="en">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}stylesheets/styles.css" media="all" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700"/>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.2/styles/default.min.css"/>
  </head>
<html>
    <head>
    </head>
    <body class="griffio">
        <header>
        </header>
        {% include sidebar.html %}
        <div class="griffio-body">
            <main class="griffio-content">{{ content }}</main>
            <nav class="griffio-nav"><a href="https://github.com/griffio">github/griffio</a></nav>
            <aside class="griffio-side">...For side...</aside>
        </div>
        <footer>
        </footer>
        <script src="{{ site.baseurl }}javascripts/scale.fix.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.2/highlight.min.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
    </body>
</html>