<!doctype html>
<html lang="en">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/styles.css" media="all" rel="stylesheet" type="text/css"/>
  </head>
<html>
    <head>
    </head>
    <body>
        <header>
        </header>
            {{ content }}
        <footer>
        </footer>
        <script src="{{ site.baseurl }}/javascripts/scale.fix.js"></script>
    </body>
</html>
